<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="./angular.min.js"></script>
    <link href="cube-style.css" rel="stylesheet" type="text/css">
   
 
</head>
<body ng-controller=" cubegame">

   

    <div id="container">
        <h1>Cube-Game-3000</h1>
        <br />
        <div id="settings">
            <h2>SETTINGS</h2>
            <form ng-submit="submit()">
                <table id="options">
                    <tr>
                        <th>Options</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td class="names">Level Seed</td>
                        <td><input type="text" ng-model="Aseed" placeholder="Insert name"></td>
                    </tr>
                    <tr>
                        <td class="names">Game Speed</td>
                        <td>{{Atime}}</td>
                    </tr>
                    <tr>
                        <td class="names">Difficulty</td>
                        <td>
                            <select id="Difficulty" ng-model="difficultyChoice">
                                <option value="1">Standard</option>
                                <option value="2">Proffesional</option>
                                <option value="10">Extreme</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="names">Your Name</td>
                        <td><input type="text" ng-model="playerName" placeholder="Insert name"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" id="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <canvas id="myCanvas" width="1280" height="720" style="border:1px solid #ffffff;"></canvas>
        <script src="./cubegame.js"></script>
        
        <!--Dit is een tekst {{testvariable}}-->
        <div id="highscores">
            <h2>HIGHSCORES</h2>
            <table id="scores">
                <tr>
                    <th>Name</th>
                    <th>Seed</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                </tr>
                <tr ng-repeat="highscore in highscores |  orderBy:'-score'">
                    <td class="names">{{highscore.name}}</td>
                    <td>{{highscore.seed}}</td>
                    <td>{{highscore.dif}}</td>
                    <td class="finscore">{{highscore.score}}</td>
                </tr>
            </table>
        </div>
        
		<div id="underline">
		<div id="bottomText">
			<h3>NOTE</h3>
			<br>
			This is one of my first JS projects. The goal was to generate a level that is playable and can be changed by a random seed.
			<br><br>
			On the left side of the screen the Level Seed and Difficulty can be changed.
			The game is designed to be always playable on normal difficulty, which could not be the case at Professional or Extreme (because there are way more obstacles). 
		</div>
	</div>
		
    </div>  

   
</body>
</html>